<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="admin1">
    <ion-icon name="circle"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="admin2">
      <ion-icon name="circle"></ion-icon>
      <ion-label>Informes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin3">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin4">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gráficas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>