<ion-grid fixed>
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="success">
      MIS APLIQUES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-col size="12" size-lg="3" size-md="2" size-sm="6" size-xs="12"
  *ngFor="let offerApliques of offersApliques">
  <ion-card color="dark">
      <ion-card-header>
      <h2>{{offerApliques.headline}}</h2>
      </ion-card-header>
      <ion-card-content>
      <ion-button (click)="abrirModalApliques(offerApliques.id, offerApliques.headline, offerApliques.description,
      offerApliques.cicle_id, offerApliques.fecha_max, offerApliques.num_candidates)">Ver</ion-button>
      </ion-card-content>
  </ion-card>
    </ion-col>

</ion-content>
</ion-grid>
